<li>
  <%= div_for comment do %>
    <div class="gravatar">
      <%= gravatar_for comment %>
      <div class="comment_author">
        <% unless comment.author_url.blank? %>
          <%= link_to comment.author_name, comment.author_url %>
        <% else %>
          <%= comment.author_name %>
        <% end %>
      </div>
    </div>
    <div class="comment_content">
      <div class="comment_info">
        <%= publish_time(comment) %>
      </div>
      <%= comment.content %>
    </div>
    <div class="clear"></div>
  <% end %>
</li>
