<%= form_for([commentable, commentable.comments.new],
             :remote => true, 
             :html => { :id => "new_comment_#{commentable.id}" }) do |f| %>
  <div class="field">
    <%= f.text_field :author_name, 
                     :id => nil %>
    <%= f.label :author_name, 'Name (required)' %>
  </div>
  <div class="field">
    <%= f.text_field :author_email, 
                     :id => nil %>
    <%= f.label :author_email, 'Email (required)' %>
  </div>
  <div class="field">
    <%= f.text_field :author_url, 
                     :id => nil %>
    <%= f.label :author_url, 'Website' %>
  </div>
  <div class="field">
    <%= f.text_area :content, :id => nil %>
  </div>
  <div class="actions">
    <%= f.submit 'Submit', :id => nil %> 
  </div>
<% end %>
