<%= form_for([commentable, commentable.comments.new],
             :remote => true, 
             :html => { :id => "new_comment_#{commentable.id}" }) do |f| %>
  <div class="field">
    <%= f.text_field :author_name, :placeholder => "Name (required)" %>
  </div>
  <div class="field">
    <%= f.text_field :author_email, :placeholder => "Email (required)" %>
  </div>
  <div class="field">
    <%= f.text_field :author_url, :placeholder => "Website" %>
  </div>
  <div class="field">
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit 'Add' %> 
  </div>
<% end %>
