<%= image_tag 'comments-icon.png', :size => "12x12", :class => "comment_icon" %>
<span id="comments_show_link_<%= post.id %>" class="comments_link" 
  onclick="show_comments_of_commentable_id(<%= post.id %>);">
  <% if post.comments.empty? %>
    leave a comment
  <% else %>
    <%= post.comments.count %> comments
  <% end %>
</span>
<span id="comments_hide_link_<%= post.id %>" class="comments_link"
  onclick="hide_comments_of_commentable_id(<%= post.id %>);"
  style="display: none;">
  hide comments
</span>

<div id="comments_<%= post.id %>" class="comments" style="display: none;">

  <%= render :partial => 'comments/comments', 
             :locals => { :comments => post.comments,
                          :commentable_id => post.id } %>

  <%= render :partial => 'comments/form',
             :locals => { :commentable => post } %>
</div>
