<span id="comments_show_link_<%= post.id %>" class="comments_link" 
  onclick="show_comments_of_commentable_id(<%= post.id %>);">
  <%= post.comments.count %> comments
</span>
<span id="comments_hide_link_<%= post.id %>" class="comments_link"
  onclick="hide_comments_of_commentable_id(<%= post.id %>);"
  style="display: none;">
  hide comments
</span>

<div id="comments_list_<%= post.id %>" class="comments_list" style="display: none;" >

  <div id="comments_content_<%= post.id %>">
    <%= render post.comments %>
  </div>

  <div id="commentable_<%= post.id %>_comments" style="display: block;" >
    <%= render :partial =>'comments/form', :locals => { :commentable => post } %>
  </div>

</div>
