<span id="comments_show_link_<%= post.id %>" class="comments_link" 
  onclick="show_comments_of_commentable_id(<%= post.id %>);">
  <%= post.comments.count %> comments
</span>
<span id="comments_hide_link_<%= post.id %>" class="comments_link"
  onclick="hide_comments_of_commentable_id(<%= post.id %>);"
  style="display: none;">
  hide comments
</span>

<div id="comments_<%= post.id %>" class="comments" style="display: none;">
  <div class="comments_list">

    <%= render :partial => 'comments/comments', 
               :locals => { :comments => post.comments } %>
  </div>

    <%= render :partial =>'comments/form', :locals => { :commentable => post } %>
</div>
