<button id="comments_show_button_<%= post.id %>" 
  onclick="show_comments_of_commentable_id(<%= post.id %>);">
  show comments
</button>

<div id="comments_list_<%= post.id %>" class="comments_list" style="display: none;" >

  <div id="comments_content_<%= post.id %>">
    <%= render post.comments %>
  </div>

  <button id="comments_hide_button_<%= post.id %>"
    onclick="hide_comments_of_commentable_id(<%= post.id %>)">
    hide comments
  </button>

  <div id="commentable_<%= post.id %>_comments" style="display: block;" >
    <%= render :partial =>'comments/form', :locals => { :commentable => post } %>
  </div>

</div>
