<%= image_tag 'comments-icon.png', :size => "12x12", :class => "comment_icon" %>

<span class="comments_toggle_button">
  <% if post.comments.empty? %>
    leave a comment
  <% else %>
    <%= pluralize post.comments.count, 'comment' %>
  <% end %>
</span>

<div id="comments_<%= post.id %>" class="comments" style="display: none;">

  <%= render :partial => 'comments/comments', 
             :locals => { :comments => post.comments,
                          :commentable_id => post.id } %>

  <%= render :partial => 'comments/form',
             :locals => { :commentable => post } %>
</div>
