<h2>Dashboard</h2>
<table>
  <tr>
  	<th>Title</th>
  	<th>Comments</th>
  	<th>Published</th>
    <th>Date</th>
  </tr>
  <% @posts.each do |post| %>
    <tr>
      <td><%= link_to post.title, edit_admin_post_url(post) %></td>
      <td><%= post.comments.count %></td>
      <td><%= post.published %></td>
      <td><%= post.created_at.in_time_zone 8 %></td>
      <td><%= link_to "del", admin_post_url(post), 
                      :method => :delete, 
                      :confirm => "Are you sure?"
        %></td>
    </tr>
  <% end %>
</table>
