<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery.min', 'rails', 'application', 'custom' %>
  <%= csrf_meta_tag %>
</head>
<body>

  <div id="main">
    <%= yield %>

    <% if Rails.env.development? %>
      <%= debug(params) %>
    <% end %>
  </div>

</body>
</html>
