<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag :all %>
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <%= javascript_include_tag 'jquery.min', 
                             'rails', 
                             'application', 
                             'custom', 
                             'jquery.lazyload' %>
  <%= csrf_meta_tag %>
</head>
<body>
  <header>
    <h1><%= link_to title, root_url %></h1>
    <nav>
      <ol>
        <% Page.published.each do |page| %>
          <li>
            <%= link_to page.slug, page_url(page) %>
          </li>
        <% end %>
      <ol>
    </nav>
  </header>
  <div class="clear"></div>

  <div id="main">
    <%= yield %>


    <% if Rails.env.development? %>
      <% debug(params) %>
    <% end %>
  </div>

  <footer>
    &copy; 2011 Typedef.me | 
    Powered by Ruby (<%= RUBY_VERSION %>) on 
    Rails (<%= Rails::VERSION::STRING %>)
  </footer>

</body>
</html>
